.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    margin: 0 9px 9px 0;
    overflow: hidden;
  }
}

.card {
  background: #fff;
  border: .1rem solid $border-color;
  border-radius: $global-radius;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;

  .card-header,
  .card-body,
  .card-footer {
    padding: 1.5rem 1.5rem 0 1.5rem;
    flex: 1 1 auto;

    &:last-child {
      padding-bottom: 1.5rem;
    }
  }
  .card-image {
    flex: 0 0 auto;

    padding-top: 1.5rem;
    background-position: center;
    background-size: cover;

    &:first-child {
      padding-top: 0;

      img {
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
      }
    }
  }
  .card-title {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 12px;

    font-weight: 500;
    transition: 200ms;
  }
  .card-meta {
    color: $dark-grey;
    font-size: 1.3rem;
  }

  .card-selected {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(#ec0, 0.35);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 88px;
    color: $primary-color;
  }

  &-3 {
    @media (#{$bp-larger-than-mobile}) {
      width: calc(50% - 7px);
    }
    @media (#{$bp-larger-than-phablet}) {
      width: calc(33% - 6px);
    }

    &:nth-child(2n) {
      @media (#{$bp-larger-than-mobile}) {
        margin-right: 0;
      }
      @media (#{$bp-larger-than-phablet}) {
        margin-right: 9px;
      }
    }

    &:nth-child(3n) {
      @media (#{$bp-larger-than-phablet}) {
        margin-right: 0;
      }
    }
  }

  &.card-hover {
    cursor: pointer;
    transition: 200ms;

    &:hover {
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    &:hover .card-title {
      color: $primary-color;
    }
  }
}
